In [6]:
cust_sales_above_2000=customer_sales[customer_sales['sales']>2000]
cust_sales_above_2000

NameError: name 'customer_sales' is not defined

In [5]:
sales_cust=pd1.merge(sales,cust,on='customer_id')
sales_cust

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,customer_name,segment,age,country,city,state,postal_code,region,first_name,last_name
0,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,100.000,10,10.0,20.0000,Claire Gute,Consumer,67.0,United States,Henderson,Kentucky,42420.0,South,Claire,Gute
1,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,100.000,10,10.0,20.0000,Claire Gute,Consumer,67.0,United States,Henderson,Kentucky,42420.0,South,Claire,Gute
2,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,2334.000,20,167.0,20.0000,Claire Gute,Consumer,67.0,United States,Henderson,Kentucky,42420.0,South,Claire,Gute
3,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,2334.000,20,167.0,20.0000,Claire Gute,Consumer,67.0,United States,Henderson,Kentucky,42420.0,South,Claire,Gute
4,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,2334.000,20,167.0,20.0000,Claire Gute,Consumer,67.0,United States,Henderson,Kentucky,42420.0,South,Claire,Gute
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,CA-2015-103772,2015-06-28,2015-07-02,Standard Class,MP-17470,OFF-AR-10000538,140.750,5,0.0,42.2250,Mark Packer,Home Office,61.0,United States,New York City,New York,10035.0,East,Mark,Packer
9988,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,FUR-TA-10001039,85.980,1,0.0,22.3548,Shaun Weien,Consumer,21.0,United States,Suffolk,Virginia,23434.0,South,Shaun,Weien
9989,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,OFF-LA-10003766,31.500,10,0.0,15.1200,Dianna Vittorini,Consumer,60.0,United States,Denver,Colorado,80219.0,West,Dianna,Vittorini
9990,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,OFF-SU-10000898,55.600,4,0.0,16.1240,Dianna Vittorini,Consumer,60.0,United States,Denver,Colorado,80219.0,West,Dianna,Vittorini
9991,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,FUR-FU-10001889,25.248,3,0.2,4.1028,Tom Boeckenhauer,Consumer,37.0,United States,Seattle,Washington,98105.0,West,Tom,Boeckenhauer

In [4]:
import pandas as pd1

cust=pd1.read_csv("C:/Users/HP/Downloads/customer.csv",header=0,index_col=0)
cust

,customer_name,segment,age,country,city,state,postal_code,region,first_name,last_name
customer_id,,,,,,,,,,
GH-14485,Gene Hale,Corporate,28.0,United States,Richardson,Texas,75080.0,Central,Gene,Hale
SN-20710,Steve Nguyen,Home Office,46.0,United States,Houston,Texas,77041.0,Central,Steve,Nguyen
LC-16930,Linda Cazamias,Corporate,31.0,United States,Naperville,Illinois,60540.0,Central,Linda,Cazamias
ES-14080,Erin Smith,Corporate,20.0,United States,Melbourne,Florida,32935.0,South,Erin,Smith
ON-18715,Odella Nelson,Corporate,27.0,United States,Eagan,Minnesota,55122.0,Central,Odella,Nelson
...,...,...,...,...,...,...,...,...,...,...
RE-19405,Ricardo Emerson,Consumer,35.0,United States,Kent,Ohio,44240.0,East,Ricardo,Emerson
SM-20905,Susan MacKendrick,Consumer,46.0,United States,Newark,Ohio,43055.0,East,Susan,MacKendrick
id-12345,arc,arc-da,24.0,india,nagpur,mh,440024.0,central,arc,NaN
id-12346,arc1,arc-da1,27.0,india,nagpur,mh,440024.0,central1,arc1,NaN
RA-19885,Ruben Ausman,Corporate1,51.0,United States,Los Angeles,California,90049.0,West,Ruben,Ausman

In [2]:
 import pandas as pd1

 sales=pd1.read_csv("C:/Users/HP/Downloads/sales.csv",header=0,index_col=0)
 sales

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit
order_line,,,,,,,,,,
9997,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,100.000,10,10.0,20.0000
9997,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,100.000,10,10.0,20.0000
11122,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,2334.000,20,167.0,20.0000
11122,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,2334.000,20,167.0,20.0000
11122,CA-2016-152156,2024-08-17,2024-08-24,Standard Class,CG-12520,OFF-PA-10002365,2334.000,20,167.0,20.0000
...,...,...,...,...,...,...,...,...,...,...
9972,CA-2015-103772,2015-06-28,2015-07-02,Standard Class,MP-17470,OFF-AR-10000538,140.750,5,0.0,42.2250
9981,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,FUR-TA-10001039,85.980,1,0.0,22.3548
9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,OFF-LA-10003766,31.500,10,0.0,15.1200
9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,OFF-SU-10000898,55.600,4,0.0,16.1240
9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,FUR-FU-10001889,25.248,3,0.2,4.1028